/** GENERAL SETTINGS **/

html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

/** FONTS **/

body, h1, h2, h3, p, a, li, ul {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, .title, .large, .compte{
	font-size: 44px;
}

h2, .big {
	font-size: 28px;
}

h3, .large-txt, .comment {
	font-size: 20px;
}

h1, h2, h3, .center, .formConnexion, .inscription, .title {
    text-align: center;
}

h1, .nosPart, .title, .comment-title, .compte {
	text-decoration: underline overline;
}

a, .bold, .description {
	font-weight: bold;
}

.suite, .comment, .comment-info {
	font-style: italic;
	}

li, .settings, .black, a {
	list-style-type: none;
	text-decoration: none;
}

.suite, .settings {
	text-align: right;
}

.large-txt {
	display: block;
	padding-bottom: 2%;
	margin-left: 30%;
	margin-right: 30%;
	text-align: justify;
	line-height: 2;
}

/** COLORS **/

body, .bg-white, textarea, .logo, .nosPart, #header {
    background-color: white;
}

.bg-red, #connexion, .parametres{
	background-color: rgba(150, 0, 0, 0.8);
}

.bg-black, .publish:hover {
	background-color: black;
}

.black, h3:hover, a:hover, h1:hover, li, .footer, .legal, .suite, .button:hover, .comment-title:hover, .nosPart:hover {
    color: black;
}

.white, .champs, .nosPart, .inscription, .suite:hover {
    color: white;
}

.services, li:hover, .settings, .red, .button {
	color:rgba(150, 0, 0, 0.8);
}

.formConnexion {
	background-color: transparent;
}

/** SHADOWS / BORDERS **/

h1, .title, .compte {
	text-shadow: 0px 0px 25px black;
}

#header, .pub, .flex, .nosPart {
	box-shadow: 0px 0px 25px black;
}

header, .border, .gbaf {
	border-bottom: 1px solid black;
}

.pub-partenaire, .flex-banques {
	border: 25px solid rgba(150, 0, 0, 0.8);
}

/** LAYOUT **/

header {
    position: fixed;
	width: 100%;
	height: 120px;
	top: 0;
}

.container, #commentaire, .partner-section, .title, .comment-title, .compte {
	padding-top: 100px;
}

#title, .comment {
	display: block;
	padding-left: 150px;
}

#connexion, .post-comment {
	padding-bottom: 50px;
}

.suite, img {
	display: block;
	margin-left: auto;
}

.title {
	padding-bottom: 100px;
}

.settings {
	float: right;
}

.description {
	padding: 40px;
}

.settings {
	padding-left: 15px;
	padding-right: 15px;
}

/** IMAGES **/

img.gbaf {
	position:fixed;
	top: 0px;
	left: 15px;
	text-align: left;
	height: 120px;
}

.pub, .pub-partenaire {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.logo {
	width: 400px;
	height: auto;
	border: 5px solid black;
	float: left;
	margin-right: 45px;
	margin-top: 25px;
}

img {
	display: block;
	margin-right: auto;
}

.banque {
	width: 150px;
}

/** CONNECT / COMMENT **/

#connexion {
	width: 50%;
	margin: auto;
	margin-top: 70px;
	padding-top: 10px;
}

.champs {
	margin-top: 5%;
	margin-bottom: 2%;
}

.commArea {
	display: block;
	width: 100%;
	height: 150px;
	background-color: lightgray;
}

.comment-info {
	padding-left:25px;
	font-size: small;
}

.comment-info, .connect-link {
padding-top: 25px;
}

.publish {
	float: right;
	width: 90%;
	margin-right: 5%;
}

.nosPart {
	margin-top: 50px;
	padding: 50px;
}

/** FLEX **/

.flex-container, .flex-footer, .flex-banques, .comment-button {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.flex-footer, .comment-button {
	justify-content: center;
}

.flex-container {
	justify-content: flex-end
}

.flex-banques {
	justify-content: space-around;
	padding-top: 15px;
}

.button {
	margin: 10px;
}

.description {
	padding-top: 80px;
}

.flex-block{
	margin-left: 60px;
	margin-right: 100px;
}

/** RESPONSIVE **/

@media (min-width:992px) {
    .desktop-only {
    display:block;
    }
}

* {
	box-sizing: border-box;
  }

  @media only screen and (max-width: 992px){	 /* Tablets */

	.desktop-only {
        display:none;
    }

	html, body, img.logo, li, ul, #connexion, .flex-banques, .black, .partenaires {
		width: 100%;
	}

	.settings, .black, .partenaires{
		display: block;
		padding-right:10px;
	}

	.listeActeurs, ul, li, h1 {
		margin: 0%;
		padding: 0%;
		list-style: none;
	}

	.listeActeurs, ul, li, .accueilLink {
		text-align: center;
	}
	.flex-banques {
		flex-direction: column;
	}
	h1 {
		margin-top: 50px;
	}

	header {
		padding-bottom: 50px;
		margin-bottom: 50px;
	}
  }

@media only screen and (max-width: 600px){ 	/* Smartphones */

	.mobile-only {
        display:block;
    }

    .desktop-only {
        display:none;
    }

	html, body, img.logo, li, ul, #connexion, .flex-banques, .black, .partenaires, .large-txt {
		width: 100%;
	}

	.listeActeurs, ul, li, .flex-banques, h1, .partenaires, .black, .large-txt {
		margin: 0%;
		padding: 0%;
		list-style: none;
	}

	.listeActeurs, ul, li, .accueilLink {
		text-align: center;
	}

	.flex-container {
		flex-direction: column;
	}

	.flex-banques {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	h1 {
		margin-top: 50px;
	}
  }
