/** GENERAL SETTINGS **/


html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: auto;
	text-align: justify;
    font-size: larger;
	padding-left: 20px;
	padding-right: 20px;
}

p, li {
    margin: 25px;
}

#title {
	display: block;
	padding-left: 150px;
}

h1, h2, h3, h4, .formConnexion, .accueilLink, .inscription, .white {
    text-align: center;
}

h1 {
	padding: 100px;
}

main, #connexion {
	padding-bottom: 20px;
}

main {
	padding-top: 100px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nosPart, .center {
	padding-top : 50px;
}

.nosPart {
	padding-bottom : 50px;
}

.border, .gbaf {
	border-bottom: 1px solid black;
}

.black {
	padding-top : 0px;
}

.partenaires{
	padding: 20px;
}

.listeActeurs {
	font-weight: bold;
	text-align: center;
}

.suite {
	text-align: right;
	font-style: italic;
}


/** HEADER / FOOTER / NAVIGATION **/

#header {
    position: fixed;
	width: 100%;
}

.settings, .black, .legal {
	font-size: small;
	list-style-type: none;
}

.settings, .black {
	text-align: right;
	float: right;
}

.legal {
	text-align: start;
	float:right;
}

footer {
	width: 100%;
	bottom: 0px;
}

/** COLORS **/

p, a, .white, .champs, .nosPart, h2, h1 {
    color: white;
}

h3, a, .accueilLink, .navUser, .settings, .black, h3:hover, a:hover, h1:hover, li:hover, .footer, .legal, .suite {
    color: black;
}

.services, li, h2 {
	color:rgba(150, 0, 0, 0.8);
}

html, textarea, #header, .logo, .gbaf {
    background-color: white;
}

#connexion, .partenaires, h2, h1, .nosPart {
	background-color: rgba(150, 0, 0, 0.8);
}


/** IMAGES **/


img.gbaf {
	position:fixed;
	top: 0px;
	left: 20px;
	text-align: left;
	height: 120px;
	width: auto;
}

.pub, .pub-partenaire {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.logo {
	width: 250px;
	height: auto;

}

.flex {
	display: flex;
	flex-direction: column;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/** CONNECT / COMMENT **/


#connexion {
	width: 50%;
	margin: auto;
	margin-top: 70px;
	padding-top: 10px;
}

.champs {
	margin-top: 5%;
	margin-bottom: 2%;
}

textarea {
	display: block;
	width: 100%;
	height: 250px;
}

.comment {
	padding-top: 100px;
}


/** RESPONSIVE **/

* {
	box-sizing: border-box;
  }

@media only screen and (max-width: 600px){ /* Smartphones */
    
	html, body, img.logo, li, ul, #connexion {
		width: 100%;
	}
	
	html, body{
		display: block;
		text-align: justify;
		margin: auto;
		padding: auto;
	}

	img.gbaf {
		position: inherit;
	}

	.listeActeurs, ul, li {
		margin: 0%;
		padding: 0%;
		list-style: none;
	}

	.listeActeurs, ul, li, .accueilLink {
		text-align: center;
	}
  }

@media (min-width:992px) {
    .desktop-only {
        display:block !important;
    }
}
 
@media (max-width: 600px) {
    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }
}