/** GENERAL SETTINGS **/


html {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, p {
	text-align: justify;
	margin: 0px;
}

h1, h2, h3, h4, .formConnexion, .accueilLink, .inscription, .white {
    text-align: center;
}

h2 {
	font-size : 32px;
}


/** LAYOUT **/


body, p {
    margin: auto;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	padding-top: 70px;
	padding-bottom: 70px;
}

main, #commentaire {
	padding-top: 100px;
}

.pub, .partenaires {
	padding-top: 20px;
}

.white {
	padding: 10px;
}

li {
    margin: 25px;
}

#title {
	display: block;
	padding-left: 150px;
}

main, #connexion {
	padding-bottom: 20px;
}

.suite {
	display: block;
	margin-left: auto;
}


/** HEADER / FOOTER / NAVIGATION **/


#header {
    position: fixed;
	width: 100%;
	height: 120px;
}

.settings, .black {
	font-size: small;
	list-style-type: none;
}

.settings, .black {
	text-align: right;
	float: right;
}

.border, .gbaf {
	border-bottom: 1px solid black;
}


/** COLORS **/


html, textarea, .logo {
    background-color: white;
}

#header {
	background-color: rgba(255, 255, 255, 0.9);
}

.white, .formConnexion {
	background-color: rgba(255, 255, 255, 0);
}
p, a, .white, .champs, .nosPart, h2, h1, .comment-title, .inscription {
    color: white;
}

h3, a, .accueilLink, .navUser, .settings, .black, h3:hover, a:hover, h1:hover, li, .footer, .legal, .suite, .comment, .button:hover {
    color: black;
}

.services, li:hover, .button {
	color:rgba(150, 0, 0, 0.8);
}

#connexion, .partenaires, h2, h1, .nosPart, .parametres{
	background-color: rgba(150, 0, 0, 0.8);
}

.comment-title {
	background-color: black;
}


/** IMAGES **/


img.gbaf {
	position:fixed;
	top: 0px;
	left: 15px;
	text-align: left;
	height: 120px;
}

.pub, .pub-partenaire {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.logo {
	width: 400px;
	height: auto;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.banque {
	width: 150px;
}



/** CONNECT / COMMENT **/


#connexion {
	width: 50%;
	margin: auto;
	margin-top: 70px;
	padding-top: 10px;
}

.champs {
	margin-top: 5%;
	margin-bottom: 2%;
}

textarea {
	display: block;
	width: 100%;
	height: 250px;
}

.comment-section {
	padding-top: 100px;
}

.comment-info {
	font-style: italic;
	padding-left:25px;
	padding-top: 25px;
	font-size: small;
}

.black {
	padding-top : 0px;
}


/** ACTEURS / PARTENAIRES **/


.nosPart, .center {
	padding-top : 50px;
}

.nosPart {
	padding-bottom : 50px;
}

.partenaires{
	padding: 20px;
}

.listeActeurs {
	font-weight: bold;
	text-align: center;
}

.suite {
	text-align: right;
	font-style: italic;
}


/** FLEX **/


.flex-container, .flex, .flex-footer, .flex-banques {
	display: flex;
	flex-direction: row;
}

.flex-container, .flex {
	justify-content: flex-end
}

.flex-footer {
	justify-content: center;
}

.flex-banques {
	justify-content: space-around;
	padding-top: 80px;
	padding-bottom: 80px;
}

.button {
	margin: 10px;
}


/** RESPONSIVE **/


@media (min-width:992px) {
    .desktop-only {
    display:block;
    }
}

* {
	box-sizing: border-box;
  }

  @media only screen and (max-width: 992px){	 /* Tablets */

	.desktop-only {
        display:none;
    }
    
	html, body, img.logo, li, ul, #connexion, .flex-banques, .black {
		width: 100%;
	}

	.settings, .black{
		display: block;
		padding-right:10px;
	}

	.listeActeurs, ul, li, h1 {
		margin: 0%;
		padding: 0%;
		list-style: none;
	}

	.listeActeurs, ul, li, .accueilLink {
		text-align: center;
	}
	.flex-banques {
		flex-direction: column;
	}
	h1 {
		margin-top: 50px;
	}

	header {
		padding-bottom: 50px;
		margin-bottom: 50px;
	}
  }

@media only screen and (max-width: 600px){ 	/* Smartphones */

	.mobile-only {
        display:block;
    }
 
    .desktop-only {
        display:none;
    }
    
	html, body, img.logo, li, ul, #connexion, .flex-banques {
		width: 100%;
	}

	.listeActeurs, ul, li, .flex-banques, h1 {
		margin: 0%;
		padding: 0%;
		list-style: none;
	}

	.listeActeurs, ul, li, .accueilLink {
		text-align: center;
	}

	.flex-container, .flex-banques {
		flex-direction: column;
	}

	h1 {
		margin-top: 50px;
	}
  }

  